.actions {
  margin-top: 60px;
  max-width: 48%;
  min-width: 400px;
  width: 100%;
  height: fit-content;
  background-color: $white;
  box-shadow: 0px 0px 20px rgba(154, 154, 154, 0.1);
  border-radius: 10px;
  position: relative;

  @media (max-width: $mb) {
    min-width: 250px;
    max-width: 100%;
  }

  .actions-headline {
    padding: 16px 20px 13px 20px;
    padding-bottom: 13px;
    border-bottom: 0.7px solid $dark-gray;
    h4 {
      margin-bottom: 4px;
      color: $red;
    }
  }

  .actions-wrapper {
    display: flex;
    margin-top: 15px;
    padding: 0 20px 20px 20px;
  }

  .actions-single-user {
    margin-bottom: 18px;
    margin-right: 16px;
    min-width: 36px;

    @media (max-width: $tb) {
      min-width: 46px;
    }

    img {
      width: 36px;
      height: 36px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  .actions-title-subt-single {
    padding-right: 10px;
    padding-top: 6px;
    margin-bottom: 25px;
  }

  .actions-date-progress {
    margin-left: auto;
    margin-right: 0;
  }

  @media (max-width: $tb) {
    .actions-single-user,
    .actions-title-subt-single,
    .actions-date-progress-single {
      display: flex;
      align-items: center;
      margin: 0 !important;
      height: 60px;
      padding-top: 0;
    }
  }

  @media (max-width: $xs) {
    .actions-single-user,
    .actions-title-subt-single,
    .actions-date-progress-single {
      height: 70px;
    }
  }

  .actions-date-progress-single {
    padding-top: 4px;
    margin-bottom: 21px;
    text-align: right;
  }

  .progress-bar {
    width: 60px;
    height: 13px;
    background-color: $progress-bar-bg;
    border-radius: 6.5px;
    margin-top: 5px;
    position: relative;

    .bar-fill {
      height: 13px;
      display: flex;
      align-items: center;
      border-radius: 6.5px;
    }

    p {
      position: absolute;
      padding-left: 6px;
      font-size: $font-size-xs;
      line-height: 100%;
      color: $white;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .actions-shadow {
    position: absolute;
    background: radial-gradient(
      35.67% 42.23% at 50% 50.13%,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.1;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 79.57px;
    z-index: -11;
  }
}
