.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 22;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  left: calc(50% - 20rem);
  margin-top: 114px;
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
  min-width: 250px;
  width: 90%;
  background-color: $white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;

  @media (max-width: $sm) {
    left: 5%;
  }

  .modal-headline {
    padding: 20px;
    border-bottom: 1px solid $modal-border;
  }

  .modal-body {
    padding: 20px;
  }

  .quick-view-content {
    font-size: $font-size-sm;
    font-weight: 400;
    line-height: 120%;
  }

  .modal-form-label {
    font-size: $font-size-x;
    font-weight: 500;
    line-height: 138%;
    margin-bottom: 2px;
    color: $primary-text-color;
    text-transform: capitalize;
  }

  .modal-input-field {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
  }

  input {
    margin-bottom: 15px;
    border: 1px solid $inputf-gray;
    border-radius: 3px;
  }

  input,
  select,
  textarea {
    color: $primary-text-color;
    font-size: $font-size-sm;
    font-weight: 400;
    line-height: 120%;
  }

  .modal-inner-fwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      width: calc(50% - 12px);
    }
  }

  .form-checkbox-title {
    margin-bottom: 10px;
  }

  .checkbox-label {
    padding-left: 8px;
    width: 80%;
  }

  .checkbox-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    width: 100% !important;
  }

  .inner-wrapper {
    width: 100% !important;

    div {
      width: 100%;
    }
  }

  .form-objective {
    height: 80px;
    margin-bottom: 120px;
  }

  .modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid $modal-border;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
