.quick-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  //max-width: 1289px;
  width: 100%;
  margin: 0;
  padding: 0;

  .quick-cards {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 120px);
  }

  .qc {
    max-width: 120px;
    width: 100%;
    min-height: 70px;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(160, 160, 160, 0.1);
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    position: relative;
    z-index: 1;
  }

  .qc-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 31px;
  }
  .qc-title {
    font-size: $font-size-x;
    line-height: 100%;
    font-weight: 400;
    margin: 0;
  }

  .qc-img {
    width: 31px;
    height: 31px;
    display: flex;
  }

  .qc-number {
    font-size: $font-size-sm;
    line-height: 86%;
    margin-top: 8px;
  }

  .qc-img-wrap {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qc-meetings {
    .qc-img-wrap {
      background-color: $blue;
      img {
        width: 19.93px;
        height: 12.92px;
      }
    }
  }

  .qc-items {
    .qc-img-wrap {
      background-color: $purple;
      img {
        width: 15px;
        height: 16px;
      }
    }
  }

  .qc-actions {
    .qc-img-wrap {
      background-color: $red;
      img {
        width: 19px;
        height: 19px;
      }
    }
  }

  .qc-reminders {
    .qc-img-wrap {
      background-color: $yellow;
      img {
        width: 17.1px;
        height: 18px;
      }
    }
  }

  .qc-notes {
    .qc-img-wrap {
      background-color: $green;
      img {
        width: 13px;
        height: 17px;
      }
    }
  }

  .qc-shadow {
    position: absolute;
    z-index: 999;
    width: 192px;
    height: 21px;
    left: -35px;
    right: 35px;
    bottom: -14px;
    background: radial-gradient(
      35.67% 42.23% at 50% 50.13%,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.1;
    z-index: -1;
    //overflow: hidden;
  }
}
