.section {}

.section-title {

    h1,
    h2 {
        // color: $gold;
        font-size: uw-size(40);
        line-height: 1.5em;
        margin: 0;

        @include max-mq($uw - 1) {
            font-size: 40px;
            line-height: 1.5em;
        }
    
        @include max-mq($lg) {
            font-size: 20px;
        }
    }
}