.nav {
  background-color: $blue;
  height: 100vh;
  min-width: 60px;
  width: 100%;
  padding-top: 54px;
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
  }

  .list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: $font-size-xs;
    cursor: pointer;
    user-select: none;

    &:active {
      background-color: $white;
      color: $blue;

      .nav-item-img {
        filter: invert(51%) sepia(57%) saturate(4723%) hue-rotate(182deg)
          brightness(101%) contrast(88%);
      }
    }
  }

  .list-item:nth-child(1) {
    margin-bottom: 60px;
  }
}
